.product-container{
    width: 100%;
    border: 1px solid #ccc; /* add a 1px solid border with color #ccc */
    background-color: #f9f9f9; /* add a light gray background color */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* add a light shadow effect */
    border-radius: 10px;
}

.product-image{
    object-fit: cover;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    height: 200px !important;
    padding: 10px;
} 

.product-title{
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

.price-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px;
}

.price{
    bottom: 0;
    left: 0;
}

.product-button{
    bottom: 0;
    right: 0;
}

.css-is-cool{
    padding: 10px;
    width: 20%;
}

.image-container{
    box-sizing: border-box;
    height: 50px;
}
