.product-image{
    object-fit: scale-down;
    height: auto;
    width: auto;
}

.image-container{
    width: 27%;
    justify-content: end !important;
    align-items: center !important;
    display: flex;
    margin-right: 10px;
}

.description-container{
    width: 50%;
}

.product-title{
    margin-left: 10%;
    font-size: 30px;
    margin-top: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}